/*
 *  SPACEX Big Martian Dome Clock
 *  MADE BY THIJMEN
 */

/*  General settings first */
* {
    box-sizing: border-box;
}

::selection {
    background: #666;
    color: #ccc;
}

html, body {
    margin: 0;
}
body {
    background: #222;
    color: #222;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
}

.canvas__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.map__canvas {
    width: 100%;
    height: 100%;
}
.canvas__overlay {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    border-radius: .25rem;
    min-height: 2rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5), 0 .25rem .5rem rgba(0, 0, 0, .3);
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
}

.location {
    min-width: 0;
    flex: 1;
}
.location__coordinates {
    font-size: .8rem;
    margin: 0;
}
.location__friendly-name {
    font-size: 1.25rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.weather__icon {
    width: 50px;
    display: block;
}
.weather__temperature {
    font-size: .8rem;
    font-weight: normal;
    text-align: center;
    margin: 0;
}